.App {
  background-image: url('./../images/background.png');
  background-size: cover;
  background-color: rgb(48, 48, 48);
  min-height: 100vh;
}

.card-heading,
.card-footer,
.card-body {
  background: rgb(102, 102, 102);
}


